//
// Offcanvas menu
// --------------------------------------------------

.navbar-offcanvas {
	@include media-breakpoint-down(sm) {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: $offcanvas-width;
		will-change: transform;
		transition: transform 0.3s ease-out;
		transform: translateX(-100%);
		-webkit-overflow-scrolling: touch;
		z-index: $zindex-offcanvas-backdrop + 1;
	}
	&.in {
		align-items: flex-start;
		@include media-breakpoint-down(sm) {
			transform: translateX(0);
			box-shadow: $box-shadow;
		}
	}
	.navbar-default.navbar-offcanvas {
		background-color: $body-bg; 
	}
}
//.offcanvas--overlay {
//	background-color: rgba($black, 0.2);
//	z-index: $zindex-offcanvas-backdrop;
//}