//
// Shop Product Card
// --------------------------------------------------

.card-img-top {
	position: relative;
	display: flex;
	justify-content: center;
	background-color: $body-bg;
	padding-bottom: 100%;
	
	// This is a bit of a hack. The product category shortcode doesne't seem
	// to be outputting the usual classes and markup meaning the lazy load script
	// doesn't recognize it. So in the mean time, we'll force visibilty on the images...
	.product-category & > img {
		opacity: 1;
	}
	> img {
		position: absolute;
		transition: opacity 0.25s 0.5s ease;
		opacity: 0;
		width: auto;
		object-fit: cover;
		height: calc(50vw - #{$grid-gutter-width} - #{$card-border-width * 2});
		@include media-breakpoint-up(sm) {
			height: (get-containers(sm)/2) - $grid-gutter-width - ($card-border-width * 2);
		}
		@include media-breakpoint-up(md) {
			height: (get-containers(md)/3) - $grid-gutter-width - ($card-border-width * 2);
		}
		@include media-breakpoint-up(lg) {
			height: (get-containers(lg)/4) - $grid-gutter-width - ($card-border-width * 2);
		}
		@include media-breakpoint-up(xl) {
			height: (get-containers(xl)/4) - $grid-gutter-width - ($card-border-width * 2);
		}
		&.jetpack-lazy-image--handled,
		&.flickity-lazyloaded,
		&.flickity-lazyerror {
			opacity: 1;
		}
	}
}

/*
.card-img-top .wp-post-image,
.card-img-top img {
	transition: opacity 0.5s 0.5s ease;
	opacity: 0;
	&.jetpack-lazy-image--handled {
		opacity: 1;
	}
}*/

.card-body .woocommerce-loop-product__title {
	font-size: $small-font-size;
	font-weight: $font-weight-normal;
}
.products--carousel .card-body {
	display: none;
}
.products--carousel img {
		height: calc(50vw - #{$grid-gutter-width} - #{$card-border-width * 2});
		@include media-breakpoint-up(sm) {
			height: calc(#{get-containers(sm)/2} - #{$grid-gutter-width} - #{$card-border-width * 2});
		}
		@include media-breakpoint-up(md) {
			height: calc(#{get-containers(md)/3} - #{$grid-gutter-width} - #{$card-border-width * 2} - #{$spacer});
		}
		@include media-breakpoint-up(lg) {
			height: (get-containers(lg)/6) - $grid-gutter-width - ($card-border-width * 2);
		}
		@include media-breakpoint-up(xl) {
			height: (get-containers(xl)/6) - $grid-gutter-width - ($card-border-width * 2);
		}
}
