//
// Site header
// --------------------------------------------------

.site-branding {
	@include media-breakpoint-up(md) {
		width: 100%;
		text-align: center;
	}
}

.custom-logo {
	height: $custom-logo-height;
	width: auto;
	margin-top: $spacer/2;
	margin-bottom: $spacer/2;
	@include media-breakpoint-down(md) {
		position: relative;
		left: -$grid-gutter-width/2;
	}
	@include media-breakpoint-up(md) {
		height: $custom-logo-height-md;
	}
}

.site-header [type="search"] {
	border: 0;
}

.site-header__nav-top-container {
	@include media-breakpoint-down(sm) {
		margin-left: auto;
	}
	@include media-breakpoint-up(md) {
		width: 100%;
	}
	.menu-info {
		margin-left: -$header-nav-padding-x;
	}
	.nav-link {
		padding-left: $header-nav-padding-x;
		padding-right: $header-nav-padding-x;
	}
}