//
// Social Menu
// --------------------------------------------------

.jetpack-social-navigation {
	ul {
		width: 100%;
		margin: 0 auto !important;
		padding-left: $grid-gutter-width /2 !important;
		padding-right: $grid-gutter-width /2 !important;
		display: flex !important;
		justify-content: space-around;
		font-size: $font-size-lg;
		@include media-breakpoint-up(md) {
			width: 50%
		}
	}
	a {
		color: $body-color;
		transition: color 0.2s ease;
		@include hover-focus{
			color: $icon-active-color;
		};
	}
}